<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443218629768-38lramjgo338p6va5ae6m6rjf79qpgub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443218629768-38lramjgo338p6va5ae6m6rjf79qpgub</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>443218629768-nhbrfmkcmmk2l45vcc13g09jsno46j78.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAP6bSBP2GOcT4g0DjFEGk8LTyzn5VD3jI</string>
	<key>GCM_SENDER_ID</key>
	<string>443218629768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goodapplications.flutter.ios.shira</string>
	<key>PROJECT_ID</key>
	<string>good-applications</string>
	<key>STORAGE_BUCKET</key>
	<string>good-applications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443218629768:ios:662a55d8725e115ae8bb3d</string>
	<key>DATABASE_URL</key>
	<string>https://good-applications.firebaseio.com</string>
</dict>
</plist>